.nsync {
  color: red;
  text-align: center;
  position: relative;
}
.backstreet {
  color: blue;
  text-align: center;
  position: relative;
}
.buttonstyle {
  color: green;
  text-align: center;
  position: relative;
}

.boxleft {
  background-color: red;
  display: inline-block; /*once parent is configure for whitespace nowrap, children are told to be in one line
  width: 600px;
  height: 100%;
}

.horizontalstack {
  white-space: nowrap; /*whitespace occurs between 2 divs and by default browser behaviour is to break at a whitespace to newline if the div after whitespace exceeds browser length*/
  height: 100%;
}
