.nsync {
  color: red;
  text-align: center;
}
.backstreet {
  color: blue;
  text-align: center;
}
.buttonstyle {
  color: green;
  text-align: center;
}

.horstack {
  height: 33%;
  width: 100%;
  white-space: nowrap;
  margin: 5px;
}

.inline-disp {
  height: 100%;
  display: inline-block;
  vertical-align: top; /*vertical-align works only with inline element*/
  /*It means when there are 3 elements in a line always keep them*/
  /*on top when content is inserted in child div*/
  /*if not used the block shifts down when content is put*/
}

.topthreebox {
  background-color: black;
  width: 33%;
}

.mediumtwobox {
  background-color: yellow;
  width: 50%;
}

.bottomonebox {
  background-color: pink;
  width: 100%;
}

.topthree {
  width: 33%;
}

.mediumtwo {
  width: 50%;
}

.bottomone {
  width: 100%;
}

.top {
  background-color: red;
}

.medium {
  background-color: blue;
}

.bottom {
  background-color: green;
}

.imagediv {
  background-size: cover; /* ensures responsiveness*/
  background-repeat: no-repeat; /*ensures no repeated tiling of image in X or Y*/
  width: 100%;
  height: 100%;
}

.nsyncimg {
  background-image: url("https://www.rollingstone.com/wp-content/uploads/2019/04/nsync-lead.jpg");
}
.backstreetimg {
  background-image: url("https://media.vanityfair.com/photos/5e82316b52ad2c00089f5009/1:1/w_1521,h_1521,c_limit/Backstreet-Boys-Coronavirus.jpg");
}
.linkinimg {
  background-image: url("https://i.natgeofe.com/n/16df64db-d138-4fe4-b537-4a5db584131c/linkinpark.jpg");
}
.potfimg {
  background-image: url("https://assets.telegraphindia.com/telegraph/5736126f-b06c-43c0-8e16-ff665b2bd39d.jpg");
}
.onerepubimg {
  background-image: url("https://www.liveabout.com/thmb/SHYFWisugcRnBXdaR-toMMJdqkg=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/onerepublic-5a712793eb97de0037466221.jpg");
}
.imaginedimg {
  background-image: url("https://lastfm.freetls.fastly.net/i/u/770x0/1708c8c2cff9b9fbdcc4722f36ad3e73.jpg");
}

.textboxdiv {
  position: relative;
  height: 50%;
  top: 25%;
  left: 25%;
  width: 50%;
}

.texth1 {
  color: white;
  text-align: center;
  white-space: pre-line; /*Ensures responsiveness of text*/
  position: relative;
  font-family: "Tahoma";
  -webkit-text-stroke: 0.5px black;
}

.imagesrc {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
